[Unit]
Description=Webdis Server
Requires=redis-server.service
After=redis-server.service

[Service]
Type=forking
PIDFile=/var/run/webdis.pid
ExecStart=/usr/bin/webdis-wrapper /etc/webdis.json
Restart=always

[Install]
WantedBy=multi-user.target
