[Unit]
Description=Webdis Redis HTTP Gateway
Requires=redis-server.service
After=redis-server.service

[Service]
ExecStart=/usr/local/bin/webdis /etc/webdis.json
Restart=always

[Install]
WantedBy=multi-user.target
