[Unit]
Description=webdis
Requires=redis-server.service
After=redis-server.service

[Service]
ExecStart=/usr/bin/webdis /etc/webdis.prod.json
Restart=always

[Install]
WantedBy=multi-user.target
